@import "tailwindcss";

@theme {
  --color-primary: #2B2D42;
  --color-secondary: #ffffff;
  --color-link: #2563eb;
  --color-link-hover: #1d4ed8;
}
/* stylelint-disable-next-line at-rule-no-unknown */
@utility link {
  color: theme(--color-link);
  text-decoration: underline;
  transition: color 0.2s ease;
  
  &:hover {
    color: theme(--color-link-hover);
    text-decoration: none;
  }
}